@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.moul-regular {
  font-family: "Moul", serif;
  font-weight: 150;
  font-style: normal;
}
.kantumruy-pro {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 404;
  font-style: normal;
}
.suwannaphum-thin {
  font-family: "Suwannaphum", serif;
  font-weight: 100;
  font-style: normal;
}

.suwannaphum-light {
  font-family: "Suwannaphum", serif;
  font-weight: 300;
  font-style: normal;
}

.suwannaphum-regular {
  font-family: "Suwannaphum", serif;
  font-weight: 400;
  font-style: normal;
}

.suwannaphum-bold {
  font-family: "Suwannaphum", serif;
  font-weight: 700;
  font-style: normal;
}

.suwannaphum-black {
  font-family: "Suwannaphum", serif;
  font-weight: 900;
  font-style: normal;
}

.text-r-2xl {
  font-size: clamp(2ch,3vw,1.5rem)
}

.whitespace-r-text {
  white-space: pre-line;
}

@media (max-width: 360px) {
  .whitespace-r-text {
    white-space: collapse;
  }
}
